<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-sm-10">
        <h4 class="card-title mb-0">My Strategy</h4>
        <div class="small text-muted">from {{date}}</div>
      </div>
     
      <!--/.col-->
    </div>
    <div class="chart-wrapper" *ngIf="render">
      <canvas baseChart class="chart" [datasets]="datasets" [labels]="labels" [colors]="colors"
      			[options]="strategyOptions"
              [chartType]="pieChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="h3 text-primary" *ngIf="!render">Select a Strategy</div>
  </div>
</div>