robo-advice/roboadvice/.settings
robo-advice/roboadvice/.project
robo-advice/roboadvice/roboadvice-web/.project
robo-advice/roboadvice/roboadvice-web/.settings
robo-advice/roboadvice/roboadvice-web/target
robo-advice/roboadvice/roboadvice-web/.classpath
robo-advice/roboadvice/src
robo-advice/roboadvice/roboadvice-web/.gitignore
.DS_Store

*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
workspace.xml
.idea