// CUSTOM SCSS

// Validity check
.ng-valid[required], .ng-valid.required {
  border-right: 5px solid $brand-success; /* green */
}

.ng-invalid:not(form) {
  border-right: 5px solid $brand-danger; /* red */
}

// Strategy Card
.btn-strategy {
  width: 100%;
  color: $general;
  background-color: #fff;
  margin-bottom: auto;

  &:hover,
  &.hover {
    color: #fff;
    background-color: rgba($general, 0.5);
  }

  &:active,
  &.active {
    color: #fff;
    background-color: $general;
  }

  &:disabled,
  &.disabled {
    opacity: .5;
  }
}

// Navbar
.nav-item-custom {
  padding: 10%;
}
header.navbar .navbar-nav{
  position: static;
}

// Arrow under dropdown menu
.dropdown-toggle::after {
  display: none;
}

.ui-slider-horizontal {
  height: 0.3em !important;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -6px !important;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 17px !important;
  cursor: default;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  left: 0%;
  background-color: #263238;
  border-radius: 35%;
  height: 17px !important;
  background-image: none !important;
}

.ui-slider {
  background-color: white;
}

.contentSugg {
  margin-left: 15%;
  margin-right: 15%;
  width: 140%;
}

.backgroundImg {
  // background-image: url("../img/backModal.jpg");
}

.carousel-control-next-icon {
  background-image: url(../img/Right-Arrow.png);
}

.carousel-control-prev-icon {
  background-image: url(../img/Left-Arrow.png);
}

.carousel-indicators li {
  background-color: $indicators;
}

.carousel-indicators .active {
  background-color: $active-indicator;
}

.carousel-indicators {
  position: relative;
}

.carousel-control-prev {
  left: -30px;
}

.carousel-control-next {
  right: -30px;
}

// AssetClass Mobile
.asset-item {
  list-style:none;
  position: relative;
  padding: 10px 10px;
  border-bottom: 1px solid darkgrey;

  &:last-child {
    border-bottom: 0;
  }

  i {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    margin-left: 5px;
    color: $dropdown-border-color;
    text-align: center;
  }

  .badge {
    position: absolute;
    right: 10px;
    margin-top: 2px;
  }
  .ui-inputtext {
    width: 100px;
    height: 25px;
  }
}