<!-- <div class="card btn-strategy">
			<div class="card-block text-center">
			<div class="text-uppercase font-weight-bold">{{name}}</div>
				<div class="chart-wrapper " >

					<canvas baseChart class="chart" [data]="arrayPercentage"
						 [options]="strategyOptions"
						[colors]="arrayColors" [legend]="strategyLegend"
						[chartType]="strategyType"
						(chartHover)="chartHovered($event)"
						></canvas>
				</div>
			</div> -->

<div class="card">
	<button class="btn btn-strategy" [ngClass]="{active : selected}" (click)="selected = !selected">
	<div class="card-block text-center">
		<div class="text-uppercase font-weight-bold">{{strategy.name}}</div>
		<div class="chart-wrapper">
			<canvas baseChart class="chart" [data]="strategy.arrayPercentages"
			[labels]="strategy.arrayLabels"
				[options]="strategyOptions" [colors]="strategy.arrayColors"
				[legend]="strategyLegend" [chartType]="strategyType"
				(chartHover)="chartHovered($event)"></canvas>

		</div>
	</div>
</button>
</div>
