<div class="card card-inverse" [style.backgroundColor]="color">
	<div class="card-block">
		<div class="h5 float-left text-capitalize mb-0">
			{{value}}
		</div>
		<div class="h5 float-right mb-0">
			{{percentage}}%
		</div>
	</div>
	<!--<canvas basechart="" class="chart" ng-reflect-datasets="[object Object]"
			ng-reflect-labels="January,February,March,April,May,June,July"
			ng-reflect-options="[object Object]" ng-reflect-chart-type="line"
			ng-reflect-colors="[object Object]" width="974" height="140"
			style="display: block; height: 70px; width: 487px;"></canvas>-->
	 <div  class="chart-wrapper px-1" style="height:100px">
					<canvas baseChart class="chart" [datasets]="financialData.lineChartData"
						[labels]="financialData.lineChartLabels" [options]="financialData.lineChartOptions"
						[colors]="financialData.lineChartColours" [legend]="financialData.lineChartLegend"
						[chartType]="financialData.lineChartType" (chartHover)="chartHovered($event)"
							(click)="show()"
						></canvas>
	 </div>
	<div class="card-block" *ngIf="isCustom">
		<p-slider [(ngModel)]="percentage" [min]="0" [max]="100"
		(onSlideEnd)="handleSlide($event)" (click)="handleSlide($event)"
		(updatePercentage)="handleUpdatePercentage($event)"
		></p-slider>
	</div>
</div>
